@import "../global";

.message {
  color: white;
  text-align: center;
  margin: 15rem 5rem;
  &__h1 {
    font-size: 288px;
    margin: 0;
    padding: 0;
  }
  &__oups {
    font-size: 36px;
    font-weight: 500;
  }
  &__ret {
    font-size: 18px;
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .message {
    margin: 10rem 3rem;
  }
  .message__h1 {
    font-size: 128px;
  }
  .message__oups {
    font-size: 24px;
    margin: 0 0 6rem;
  }
  .message__ret {
    font-size: 14px;
  }
}
