@import "../global";

.cont {
  text-align: center;
  padding: 6rem 3rem 2rem;
  background-color: $back4-color;
  h3 {
    font-size: 30px;
  }
  &__rs {
    margin-top: 2.5rem;
    a {
      margin: 0 0.2em;
    }
  }
  &__icon {
    font-size: 50px;
    color: #000000;
  }
  &__icon :hover {
    color: rgb(55, 45, 45);
  }
}

@media (max-width: 428px) {
  .cont {
    padding: 2rem;
  }
}

@media (max-width: 390px) {
  h3 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  button {
    width: 200px;
  }
  .cont__icon {
    font-size: 40px;
  }
}
