@import "../global";

.cont {
  text-align: center;
  padding: 6rem 3rem 2rem;
  background-color: $back4-color;

  &__rs {
    margin-top: 2.5rem;
    a {
      margin: 0 0.2em;
    }
  }
  &__icon {
    font-size: 50px;
    color: #000000;
  }
  &__icon :hover {
    color: rgb(55, 45, 45);
    font-size: 50px;
  }
}
