@import "../global";

.cont {
  text-align: center;
  padding: 6rem 3rem 2rem;
  background-color: $back1-color;

  &__rs {
    margin-top: 4rem;
  }
  &__icon {
    color: black;
    font-size: 50px;
  }
  &__icon :hover {
    color: rgb(55, 45, 45);
    font-size: 50px;
  }
}
