@import "../global";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
  background-color: $header-color;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  &__nav {
    .menu-toggle {
      font-size: 30px;
      display: none;
      cursor: pointer;
    }
    .nav-menu {
      list-style-type: none;
      display: flex;
      align-items: center;
    }
    &_link {
      text-transform: uppercase;
      text-decoration: none;
      margin: 18px;
      font-size: 20px;
      font-weight: 500;
      color: #f2e9dc;
    }
    &_link:hover {
      text-decoration: underline;
      color: #9fcc2e;
    }
  }
}

@media (max-width: 1130px) {
  .header {
    padding: 0 3rem;
    .nav-menu {
      padding: 0;
      .header__nav_link {
        margin: 0.4em;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    display: block;
    align-items: flex-start;
    padding: 0;
    position: relative;
    img {
      position: relative;
      width: 150px;
      z-index: 2;
    }
    &__logo {
      display: block;
      width: 100%;
      text-align: center;
    }
    &__nav {
      top: 0;
      right: 0;
      position: absolute;
      width: 100%;
      background-color: $header-color;
      .menu-toggle {
        margin: 2rem 0 0;
        display: block;
        text-align: end;
      }
      .nav-menu {
        flex-direction: column;
        padding: 0;
      }
      .nav-menu li {
        display: none;
        .header__nav_link {
          margin: 0.3em;
        }
      }
      .nav-menu.active li {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__nav__ul {
      padding: 0;
    }
    &__nav_link {
      font-size: 15px;
      margin: 0 0 0 1rem;
    }
  }
}
