.back {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  color: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  img {
    width: 300px;
  }
  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    &-title {
      margin: 0;
      position: absolute;
      width: 100%;
      padding: 10px;
      color: #2c3e50;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
    }
    &-btn {
      z-index: 2;
      cursor: pointer;
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 8px;
      border: none;
      font-size: 18px;
      color: #2c3e50;
      background: white;
    }

    &-btn:hover {
      background-color: beige;
    }
  }
  &__content {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    display: flex;
    button {
      max-height: 40px;
    }
    .infos {
      width: 60%;
    }
  }
}
