@import "../global.scss";

.proj {
  background-color: $back3-color;
  padding: 6rem 3rem 10rem;
  &__title {
    margin-bottom: 7rem;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }
}
