@import "../global";

.comp {
  padding: 6rem 3rem 10rem;
  background-color: $back1-color;
  &__title {
    margin-bottom: 7rem;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  &__flex {
    display: flex;
    &-front {
      width: 50%;
      text-align: center;
    }
    &-back {
      width: 50%;
      text-align: center;
    }
    &-tri {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__div {
    &-front {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    font-size: 70px;
    text-align: center;
    &:hover {
      font-size: 75px;
    }
  }
  &__tool {
    margin-top: 7rem;
    &-flex {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 700;
  }
}

@media (max-width: 850px) {
  .comp {
    padding: 5rem 4rem;
  }
}
