.chevron {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &_left,
  &_right {
    margin-top: 0.2em;
    cursor: pointer;
    font-size: 75px;
  }

  &_logo {
    cursor: pointer;
    &-pn {
      width: 100px;
    }
  }
}
