body,
button {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
  height: 100%;
  color: #f2e9dc;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  letter-spacing: 3px;
  background-color: #211f1f;
  padding: 0.7em 2em;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: rgb(55, 45, 45);
}
$back1-color: #134d55;
$back2-color: #134d55;
$back3-color: #134d55;
$back4-color: #13553c;
$header-color: #13553c;
