body,
button {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  letter-spacing: 3px;
  background-color: #211f1f;
  color: white;
  padding: 0.7em 2em;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: rgb(55, 45, 45);
}

$back1-color: #049af0fb;
$back2-color: #dce8ee;
$footer-color: #276b92;
$header-color: #31b4ff;
